# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

1/aoc1
2/aoc2
3/aoc3
4/aoc4
5/aoc5
6/aoc6
7/aoc7
8/aoc8
9/aoc9
10/aoc10
11/aoc11
12/aoc12
13/aoc13
14/aoc14
15/aoc15
16/aoc16
17/aoc17
18/aoc18
19/aoc19
20/aoc20
21/aoc21
22/aoc22
23/aoc23
24/aoc24
25/aoc25

1/aoc
2/aoc
3/aoc
4/aoc
5/aoc
6/aoc
7/aoc
8/aoc
9/aoc
10/aoc
11/aoc
12/aoc
13/aoc
14/aoc
15/aoc
16/aoc
17/aoc
18/aoc
19/aoc
20/aoc
21/aoc
22/aoc
23/aoc
24/aoc
25/aoc

# Build stuff
1/obj
2/obj
3/obj
4/obj
5/obj
6/obj
7/obj
8/obj
9/obj
10/obj
11/obj
12/obj
13/obj
14/obj
15/obj
16/obj
17/obj
18/obj
19/obj
20/obj
21/obj
22/obj
23/obj
24/obj
25/obj

2021-25